.navbar img{
    width: 7rem;
    height: auto;
}
.acerca img{
    width: 450px;
    height: auto;
}

.proyectos img{
    width: 12rem;
    height: auto;
}

html{
    font-family: 'Josefin Sans', sans-serif;
}
body{
    
    text-align: justify;
}

.img-navbar{
    border-radius: 1rem;
    border-color: blue;
}

.banner{
    
    background-image: url("../img/FondoHector.png");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 42rem;
    max-width: auto;
    
}

.foto-mia{
    max-width: 20rem;
    max-height: auto;
    border-radius: 2rem;
    border-color: black;
}

.img-card{
    max-width: auto;
    max-height: 11rem;
}

@media (max-width: 1000px) {
    .banner{
        max-width: 1000px;
        max-height: auto;
    }    
}

.texto-acerca-de-mi{
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;;
}
